<div fxLayout="column" fxLayoutAlign="center center">

        <md-card class="login-block">
            <md-card-title >Please Login</md-card-title>
            <div>
                <md-input-container>
                    <input type="text" mdInput i18n-placeholder placeholder="Account" value="">
                </md-input-container>
            </div>
            <div>
                <md-input-container>
                    <input type="password" mdInput i18n-placeholder placeholder="Password" value="">
                </md-input-container>
            </div>

        </md-card>

</div>