<div fxLayout="column" fxLayoutAlign="center center">

        <md-card class="login-block">
            <md-card-title >Please Login</md-card-title>
            <div>
                <md-input-container>
                    <input mdInput placeholder="Favorite food" value="">
                </md-input-container>
            </div>
            <div>
                <md-input-container>
                    <input mdInput placeholder="Favorite food" value="">
                </md-input-container>
            </div>

        </md-card>

</div>